@import url("https://use.typekit.net/fum2wot.css");

body{
  font-family: stratos;
  margin: 0;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
}
header section.title{
  font-size: 64px;

}
header section.subtitle{
  font-size: 32px;
}
header section.line{
  border-bottom: solid 4px;
  width: 300px;
  background-color: blue;
}

section.hero{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
section.hero section.herotxt{
  margin-left: 122px;
  margin-right:122px;
  font-size: 32px;
}
section.hero section.button{
  margin-right: 122px;
  //display: flex;
  white-space: nowrap;
  justify-content: center;
  font-size: 24px;
}

section.team{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
section.team section.ourteam{
  margin-left: 122px;
  margin-right:122px;
  font-size: 32px;
}
section.team section.button{
  margin-left: 122px;
  //display: flex;
  white-space: nowrap;
  justify-content: center;
  font-size: 24px;
}
